body {
    padding: 0;
    margin: 0;
}

ul,ol {
    list-style: none;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}